<div class="row">
	<div class="col-md-6 offset-md-3">
		<% if flash[:danger] %>
          <%= flash[:danger] %> 
        <% end %>
	    <h1>Editing Book</h1>
	    <%= form_with model:@book, local:true do |f| %>
	      <div class="field row">
	        <%= f.label :title %>
	        <%= f.text_field :title %>
	      </div>
	      <div class="field row">
	        <%= f.label :opinion %>
	        <%= f.text_area :body %>
	      </div>
	
	      <div class="actions row">
	        <%= f.submit "Update Book" %>
	      </div>
	    <% end %>
		<%= link_to "Show", book_path(@book), class: "book_#{@book.id}" %>
		<%= link_to "Back", books_path, class: "back" %>
	</div>
	<div class="col-md-3">
		
	</div>

</div>